branches/passerelle-8.10/contributions-actors/fr.soleil.passerelle.cdma.actor.test/CDMA_Dictionaries/dtd/plugin_config_file.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT plugin-config  (dataset-model*,global?)>
<!ATTLIST plugin-config 
    name CDATA #REQUIRED
>

<!-- 
==========================
global
========================== 
-->
<!ELEMENT global (java? | cpp?)>
<!ELEMENT java (set*)>
<!ELEMENT cpp (set*)>
<!ELEMENT set EMPTY>
<!ATTLIST set 
    name CDATA #REQUIRED
    value CDATA #REQUIRED
>

<!--
==========================
dataset_model
========================== 
-->
<!ELEMENT dataset-model (criteria? , parameters? , plugin? )>
<!ATTLIST dataset-model 
    name CDATA #REQUIRED
>
    
<!--
==========================
plugin
========================== 
--> 
<!ELEMENT plugin ( java? | cpp? )>


<!--
==========================
criteria
========================== 
-->
<!ELEMENT criteria (if*)>
<!ELEMENT if EMPTY>
<!ATTLIST if 
    target CDATA #REQUIRED
    exist ( true | false ) #IMPLIED
    equal CDATA #IMPLIED
    not_equal CDATA #IMPLIED
>


<!--
==========================
parameters
========================== 
-->
<!ELEMENT parameters (parameter*)>
<!ELEMENT parameter EMPTY>
<!ATTLIST parameter
    name CDATA #REQUIRED
    type ( exist | name | value | constant | equal ) #REQUIRED
    test ( true | false ) #IMPLIED
    target CDATA #IMPLIED
    constant CDATA #IMPLIED
>


