branches/passerelle-8.10/contributions-actors/fr.soleil.passerelle.cdma.actor.test/CDMA_Dictionaries/dtd/synonyms_file.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
==========================
root element
==========================
-->
<!ELEMENT synonym-def (plugin*)>

<!--
==========================
synonyms
==========================
-->
<!ELEMENT plugin (synonym*)>
<!ATTLIST plugin
    name CDATA #REQUIRED
>

<!-- 
==========================
synonym
========================== 
-->
<!ELEMENT synonym EMPTY>
<!ATTLIST synonym 
    key CDATA #IMPLIED
    mapping CDATA #IMPLIED
    concept CDATA #IMPLIED
>
